.left {
	float: left;
}

.left#left-menu {
	width: 150px;
	position: absolute;
	height: 100%;
	background-color: #b7b7b7;
}

#top-menu {
	text-align: center;
	background-color: #b7b7b7;
}

body {
	background-color: #d2d2d2;
}